astropy==2.0.5
attrs==17.4.0
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.4.0.2
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
Django==1.7
django-openid-auth==0.14
fitsio==0.9.11
funcsigs==1.0.2
gunicorn==19.7.1
idna==2.6
iniparse==0.4
kitchen==1.1.1
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.1.0
numpy==1.14.2
oauthlib==2.0.7
Pillow==6.2.0
pluggy==0.6.0
py==1.5.3
pycurl==7.19.0
pygobject==3.22.0
pygpgme==0.3
PyJWT==1.6.1
pyliblzma==0.5.3
pyparsing==2.2.0
pytest==3.5.0
python-dateutil==2.7.2
python-openid==2.2.5
pytz==2018.3
pyxattr==0.5.1
requests==2.18.4
requests-oauthlib==0.8.0
simplejson==3.13.2
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
South==1.0.2
subprocess32==3.2.7
urlgrabber==3.10
urllib3==1.22
yum-metadata-parser==1.1.4
